
<div class="animated-bg"></div>

<div class="form-container">
  <mat-card class="register-card">
    <h2>Register  </h2>
    <form [formGroup]="formValue">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name"  placeholder="Enter your UserName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter your email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password" />
      </mat-form-field>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" class="btn" (click)="UserSignUp()">Sign-Up</button>
        
      </div>
      <div class="login-link">
        If you have Already registered?
        <a routerLink="/login">Login here</a>
      </div>
    </form>
  </mat-card>
</div>
